<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Success! >> CloudBees Days Workshop</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <div>
            <img class="mx-auto h-24 w-auto" src="https://avatars0.githubusercontent.com/u/47866591?s=200&v=4"
                 alt="Workflow"/>
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Success!
            </h2>
        </div>

    </div>
</div>

</body>
</html>