<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Success! >> CloudBees Connect Workshops</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <div>
            <img class="mx-auto h-48 w-auto" src="/static/img/cb.png"
                 alt="Workflow"/>
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Success! Please proceed to login to CloudBees Core at <a href="https://core.v1.k8s.tel/" target="_blank">https://core.v1.k8s.tel/</a>
            </h2>
            <h3>Other Links</h3>
            <ul>
                <li><a href="https://cloudbees-days.github.io/core-rollout-flow-workshop/#2" target="_blank">Workshop Slides</a></li>
                <li><a href="https://github.com/cloudbees-days/core-rollout-flow-workshop#labs" target="_blank">Core Workshop Labs</a></li>
                <li><a href="https://github.com/cloudbees-days/core-rollout-flow-workshop#labs-1" target="_blank">Rollout Workshop Labs</a></li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>
